body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  width: 100%;
  height: 35px;
  background-color: grey;
  display: flex;
  align-items: center;
}

.nav-button {
  height: 28px;
  width: 70px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  margin-left: 25px;
  margin-right:25px;
  align-items: center;
  text-decoration: none;
  color: black;

}

.logout-button {
  margin-left: 900px;
  margin-right: 25px;
}

.signup-button {
  margin-left: 900px;
  margin-right: 25px;
  height: 28px;
  width: 70px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.cat-pic {
  max-width: 250px;

}

.cat-card {
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
  max-width: 265px;
}

.new-cat-entry {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 20px;
}

h4 {

}